<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

    <title>WEATHERFY</title>

    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
    <link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">



</head>

<body>
    <div class="site-content">
        <div class="site-header">
            <div class="container">
                <div class="logo-type">
                    <h1 class="site-title">WEATHERFY CS313</h1>
                    <small class="site-description">Jose Beltran</small>
                </div>
            </div>
        </div>

        <div class="hero">
            <div class="container">
                <form>
                    <input type="text" placeholder="Enter City Name">
                    <button>WEATHERFY</button>
                </form>
            </div>
        </div>

        <div class="forecast-table">
            <div class="container">
                <div class="forecast-container">
                    <div class="today forecast">
                        <div class="forecast-header">
                            <div class="forecast-content">
                                <div class="location" id="location">Location</div>
                                <div class="degree">
                                    <div class="num" id="num">Temp</div>
                                </div>
                                <div class="summary">
                                    <p id="summary"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="site-footer">
                <div class="container">
                    <p class="colophon">Node JS Project for CS 313 Fall 2019</p>
                </div>
            </footer>
        </div>
        <script src="/js/js.js"></script>

</body>

</html>